<mat-card>
    <mat-card-content>
        <form [formGroup]="signupForm">
            <p>
                <mat-form-field  appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput required formControlName="username">
                    <mat-icon  *ngIf="signupForm.controls['username'].valid && signupForm.controls['username'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-icon *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched  " style="color: red;" matSuffix>sentiment_very_dissatisfied</mat-icon>
                    <mat-hint style="color: red;" *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched ">Şifre 6 karakterden uzun olmalıdır.</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field  appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput required formControlName="password">
                    <mat-icon  *ngIf="signupForm.controls['password'].valid && signupForm.controls['password'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-icon *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched  " style="color: red;" matSuffix>sentiment_very_dissatisfied</mat-icon>
                    <mat-hint style="color: red;" *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched ">Şifre 6 karakterden uzun olmalıdır.</mat-hint>
                </mat-form-field>
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-stroked-button color="success" (click)="signup()" >Sign up</button>
    </mat-card-actions>
</mat-card>